## ❌ DO NOT EDIT - MAKE A COPY
# Q1: Alphabet Slices
* Store the first ten letters of the alphabet in a list.
* Use a slice to print out the first three letters of the alphabet.
* Use a slice to print out any three letters from the middle of your list.

In [ ]:
# Solve Alphabet slices here. 
## Extra Credit:  Do this without 'hard coding' the alpahbet.
import string

alphabet = list(string.ascii_lowercase)
print(alphabet[0:3]) # first three letters
print(alphabet[3:6]) # any three letters from the middle

['a', 'b', 'c']
['d', 'e', 'f']

# Q2:  Covert all the rapper names to title case and save them into a new different list. 
Example: **lil wayne** becomes **Lil Wayne**

In [5]:
# Solve rapper names here
rappers = ['lil wayne', 'nicki minaj', 'drake']
title_case_rappers = [name.title() for name in rappers]
print(title_case_rappers)

['Lil Wayne', 'Nicki Minaj', 'Drake']

# Q3: Write a function that takes a number and returns:
* True if the input number is even.
* False if the input number is odd.

In [12]:
# Solve problem here

def even_odd(lst):
   return lst % 2 == 0

print(even_odd(1))
print(even_odd(6))

False
True

# Q4: Find the sum and the average of this list of numbers.

Try doing this using a loop.  Then try doing this without using a loop.

In [18]:
# Solve problem here:

my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]
# list_sum = 0
# for num in my_list:
#    list_sum += num

# list_avg = list_sum / len(my_list)
# print(list_sum, list_avg)


# without loop
list_sum = sum(my_list)
list_avg = list_sum / len(my_list)

# Keep this as your last line in this cell.
print(list_sum, list_avg)

353 35.3

# Q5: 
## Write a function that takes a list and returns a new list that has all the duplicates removed.

Example input and expected output:
- input = `["Michele", "Robin", "Sara", "Michele"]`
- expected output = `['Michele', 'Robin', 'Sara']`

In [23]:
# Solve problem here:

names = ["Michele", "Robin", "Sara", "Michele"]

def remove_duplicates(my_list):
    return list(set(my_list))

remove_duplicates(names)

['Michele', 'Robin', 'Sara']

# Q6: Write a function that takes a list of numbers 
(for example, `a = [5, 10, 15, 20, 25]`) and returns a new list of only the first and last elements of the given list.

Example input and expected output:
- input = `[5, 10, 15, 20, 25]`
- expected output = `[5, 25]`

In [27]:
# Solve problem here:
input_list = [5, 10, 99, 20, 25]

def first_and_last_elements(my_list):
    return [my_list[0], my_list[-1]]
    
first_and_last_elements(input_list)

[5, 25]

# Q7: 
## Implement a function that takes as input three variables, and returns the largest of the three. 
### Try doing this without using the `max()` function!

_**Note:** all three input numbers will always be different, no need to account for a tie._

Example input and expected output:
- input: `your_function(1, 5, 10)`
- expected output:  `10`

In [39]:
# Solve Problem here:

def my_max(a, b, c):
    if a > b:
        return a
    elif b > c:
        return b
    else:
        return c

In [40]:
# Test to see if your function works properly.
my_max(1, 5, 10)

10

# Q8: Write a function that takes a number as input and returns the following:
* If the input is divisible by three, return `'fizz'`
* If the input is divisible by five, return `'buzz'`
* If the input is divisible by three and by five, return `'fizzbuzz'`
* If the input is not divisible by three or five, return `None`.

In [47]:
# Solve Problem fizzbuzz here:
def fizzbuzz(num):
    if num % 3 == 0 and num % 5 == 0:
        return 'fizzbuzz'
    elif num % 3 == 0:
        return 'fizz'
    elif num % 5 == 0:
        return 'buzz'
    else:
        return None
    
print(fizzbuzz(9)) 
print(fizzbuzz(10))
print(fizzbuzz(15))

fizz
buzz
fizzbuzz